RHT_OCP4_MASTER_API=https://api.ap46a.prod.ole.redhat.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ap46a.prod.ole.redhat.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ap46a.prod.ole.redhat.com
RHT_OCP4_DEV_USER=ezuuov
RHT_OCP4_DEV_PASSWORD=dc7967e3242343aba254
RHT_OCP4_GITHUB_USER=chungngh
RHT_OCP4_QUAY_USER=rh_ee_chnguyen
